

{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3:nowrap


//////////////////////////////
//
// displayExample --
//

function displayExample(exid, examples) {
	exid = exid.replace(/^[TR]/, "");   // R129 maps to 129
	let element = document.querySelector("div#example");
	if (!element) {
		console.log("Error: could not find #example");
		return;
	}

	if (!examples) {
		examples = EXAMPLELIST;
	}

	if (!exid) {
		exid = CURRENTEXAMPLE;
	}
	if (!exid) {
		exid = "129"
	}
	CURRENTEXAMPLE = exid;

	let entry = FindExampleById(exid, examples);

	if (!entry) {
		console.log("Error: did not find entry for example", exid);
		return;
	}

	let output = "";

	output += "<table id='example-info'>";

	output += "<tr>";
	output += "<td>";
	output += "Ex";
	if (entry["Entry Dataset"] === "R") {
		let pu = "https://raw.githubusercontent.com/epoudrier/RDS_Scores_2018/";
		pu += "Reserve_Dataset/pdf/";
		pu += entry["Filename"];
		pu += ".pdf";
		output += "<a target='_blank' style='color:#696969;' href='" + pu + "'>";
		output += "a"
		output += "</a>";
	} else {
		output += "a"
	}
	output += "mple ID:";

	output += "</td>";
	output += "<td>";
	if (entry["Example Dataset"] === "R") {
		output += "R";
	} else {
		output += "T";
	}
	output += exid;
	output += "</td>";
	output += "</tr>";

	// work ID
	let workid = entry["Work ID"];
	if (workid) {
		output += "<tr>";
		output += "<td>";
		output += "Work ID:";
		output += "</td>";
		output += "<td>";
		output += "<a target='_blank' href='/work?id=" + workid + "'>";
		output += workid;
		output += "</a>";

		if (entry["@examples"]) {
			let ecount = entry["@examples"].length;
			ecount--;
			if (ecount > 0) {
				output += " (" + ecount + " other example";
				if (ecount != 1) {
					output += "s";
				}
				output += " in this work)";
			}
		}

		output += "</td>";
		output += "</tr>";
	}

	// title of source work
	let title = entry["Work Title"];
	if (title) {
		output += "<tr>";
		output += "<td>";
		output += "Work title:";
		output += "</td>";
		output += "<td>";
		output += title;
		output += "</td>";
		output += "</tr>";
	}

	// starting measure
	let startm = entry["Example Start Measure"];
	if (startm) {
		output += "<tr>";
		output += "<td>";
		output += "Starting measure:";
		output += "</td>";
		output += "<td>";
		output += startm;
		output += "</td>";
		output += "</tr>";
	}

	// ending measure
	let endm = entry["Example End Measure"];
	if (endm) {
		output += "<tr>";
		output += "<td>";
		output += "Ending measure:";
		output += "</td>";
		output += "<td>";
		output += endm;
		output += "</td>";
		output += "</tr>";
	}

	// genre
	let genre = entry["Genre"];
	if (genre) {
		output += "<tr>";
		output += "<td>";
		output += "Genre:";
		output += "</td>";
		output += "<td>";
		output += genre;
		let subgenre = entry["Sub-Genre"];
		if (subgenre) {
			output += " / " + subgenre;
		}
		output += "</td>";
		output += "</tr>";
	}

	// composer's name
	let composer = entry["Composer Name"];
	if (composer) {
		output += "<tr>";
		output += "<td>";
		output += "Composer:";
		output += "</td>";
		output += "<td>";
		output += composer;
		output += "</td>";
		output += "</tr>";
	}

	// composition date
	let cdate = entry["Composition Year"];
	if (cdate) {
		output += "<tr>";
		output += "<td>";
		output += "Composition date:";
		output += "</td>";
		output += "<td>";
		output += cdate;
		output += "</td>";
		output += "</tr>";
	}

	// first published
	let fdate = entry["First Publication Year"];
	if (fdate) {
		output += "<tr>";
		output += "<td>";
		output += "Publication date:";
		output += "</td>";
		output += "<td>";
		output += fdate;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere date
	let premierdate = entry["Premiere Date"];
	if (premierdate) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere date:";
		output += "</td>";
		output += "<td>";
		output += premierdate.replace(/-/g, " ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere location
	let premier = entry["Premiere Location"];
	if (premier) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere location:";
		output += "</td>";
		output += "<td>";
		output += premier.replace(/,\s*/g, ", ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere ensemble
	let ensemble = entry["Ensemble"];
	if (ensemble && (ensemble !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere ensemble:";
		output += "</td>";
		output += "<td>";
		output += ensemble;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere conductor
	let conductor = entry["Conductor"];
	if (conductor && (conductor !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere conductor:";
		output += "</td>";
		output += "<td>";
		output += conductor.replace(/,\s*/g, ", ");
		output += "</td>";
		output += "</tr>";
	}

	// Premiere soloists
	let soloists = entry["Soloists"];
	if (soloists && (soloists !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere soloists:";
		output += "</td>";
		output += "<td>";
		output += soloists.replace(/,\s*/g, ", ").replace(/;\s*/g, "; ");;
		output += "</td>";
		output += "</tr>";
	}

	output += "</table>";

	output += "<span ";
	output += " onclick='copyLink(\"" + CURRENTEXAMPLE + "\")'";
	output += " title='";
	output += "Copy page link";
	output += "'";
	output += " class='vhv-button group3'>link</span>";

	output += "<span ";
	output += " onclick='copyData(\"" + CURRENTEXAMPLE + "\")'";
	output += " title='";
	output += "Copy Humdrum data to the system clipboard";
	output += "'";
	output += " class='vhv-button group3'>copy</span>";

	if (hasGroupInfo(CURRENTEXAMPLE)) {

		output += "<span id='analysis-only'";
		output += " onclick='toggleAnalysisOnly()'";
		output += " title='";
		output += "Toogle analysis only";
		output += "'";
		output += " class='vhv-button group2'>only&nbsp;analysis</span>";

		output += "<span id='event-counts'";
		output += " onclick='toggleEventCounts()'";
		output += " title='";
		output += "Show/Hide composite event counts";
		output += "'";
		output += " class='vhv-button group2'>event counts</span>";

		output += "<span id='mark'";
		output += " onclick='toggleMark()'";
		output += " title='";
		output += "Toogle coincidence marks";
		output += "'";
		output += " class='vhv-button group2'>mark</span>";

		output += "<span id='coincidence'";
		output += " onclick='toggleCoincidence()'";
		output += " title='";
		output += "Toogle coincidence analysis by group";
		output += "'";
		output += " class='vhv-button group2'>coincidence</span>";

		output += "<span id='colorFullComposite'";
		output += " onclick='toggleColorFullComposite()'";
		output += " title='";
		output += "Toogle full-composite coloring";
		output += "'";
		output += " class='vhv-button group2'>comp. color</span>";

		output += "<span id='composite'";
		output += " onclick='toggleComposite()'";
		output += " title='";
		output += "Toogle composite analysis";
		output += "'";
		output += " class='vhv-button group2'>composite</span>";

		output += "<span id='color'";
		output += " onclick='toggleColor()'";
		output += " title='";
		output += "Toogle group colorg";
		output += "'";
		output += " class='vhv-button group2'>group color</span>";

		output += "<span id='group'";
		output += " onclick='toggleGroup()'";
		output += " title='";
		output += "Toogle composite analysis by group";
		output += "'";
		output += " class='vhv-button group2'>group</span>";

	}

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 pdf-region'>";
	output += "<a target='_pdf' href='/resources/pdf/sibelius/" + CURRENTEXAMPLE + "-sib.pdf'>sibpdf</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 e3-region'>";
	output += "<a target='_e3' href='/resources/pdf/e3/" + CURRENTEXAMPLE + "-e3.pdf'>E3</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 e2-region'>";
	output += "<a target='_e2' href='/resources/pdf/e2/" + CURRENTEXAMPLE + "-e2.pdf'>E2</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 e1-region'>";
	output += "<a target='_e1' href='/resources/pdf/e1/" + CURRENTEXAMPLE + "-e1.pdf'>E1</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 e0-region'>";
	output += "<a target='_e0' href='/resources/pdf/e0/" + CURRENTEXAMPLE + "-e0.pdf'>suter</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 sibelius-region hidden'>";
	output += "<a target='_audio' href='/resources/recordings/sibelius/" + CURRENTEXAMPLE + ".m4a'>sibaudio</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 eastwest-region hidden'>";
	output += "<a target='_audio' href='/resources/recordings/eastwest/" + CURRENTEXAMPLE + ".m4a'>eastwest</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button group1 acoustic-region'>";
	output += "<a target='_audio' href='/resources/recordings/acoustic/" + CURRENTEXAMPLE + ".m4a'>recording</a>";
	output += "</span>";

	element.innerHTML = output;
	showCurrentAudio();
	let fname = entry["Filename"];
	let url = "";
	if (fname.match(/^R/)) {
		url = "https://raw.githubusercontent.com/polyrhythm-project/rds-scores/";
		url += "master/kern/";
		url += fname;
		url += ".krn";
	} else {
		url = "https://raw.githubusercontent.com/craigsapp/polyrhythm-scores/";
		url += "master/kern/";
		url += fname;
		url += ".krn";
	}

	console.log("URI", url);
	let dset = entry["Example Dataset"];
	//if (dset === "R") {
		// T dataset is not online yet...
		displayHumdrum({
			source: "example-notation",
			postFunction: addProblemIcons,
			url: url
		});
	//}

	PrepareResourceFileIndex("e0", "/resources/pdf/e0/index.txt", hideUnavailableE0);
	PrepareResourceFileIndex("e1", "/resources/pdf/e1/index.txt", hideUnavailableE1);
	PrepareResourceFileIndex("e2", "/resources/pdf/e2/index.txt", hideUnavailableE2);
	PrepareResourceFileIndex("e3", "/resources/pdf/e3/index.txt", hideUnavailableE3);
	PrepareResourceFileIndex("sibpdf", "/resources/pdf/sibelius/index.txt", hideUnavailableSibPdf);
	PrepareResourceFileIndex("acoustic", "/resources/recordings/acoustic/index.txt", hideUnavailableAcoustic);
	PrepareResourceFileIndex("eastwest", "/resources/recordings/eastwest/index.txt", hideUnavailableEastWest);

	setButtonStates();

	/* VHV loading button
	if (entry["Work Dataset"] === "R") {
		let button = document.querySelector("#vbutton");
		if (button) {
			button.addEventListener("click", function() {
				let url = "https://verovio.humdrum.org/?k=e&file=";
				url += "https://raw.githubusercontent.com/craigsapp/";
				url += "polyrhythm-scores/master/";
				url += "kern/";
				url += entry["Filename"];
				url += ".krn";
				window.open(url, '_blank');
			});
			button.classList.add("vhv-button");
			button.title = "Load example score into Verovio Humdrum Viewer editor";
			button.innerHTML = "VHV";
		}
	}
	*/
}



//////////////////////////////
//
// setButtonStates --
//

function setButtonStates() {
	if (COLOR) {
		let element = document.querySelector("#color");
		element.classList.add("highlight-button");
	}

	if (GROUP) {
		let groupelement = document.querySelector("#group");
		groupelement.classList.add("highlight-button");
	}

	if (MARK) {
		let element = document.querySelector("#mark");
		element.classList.add("highlight-button");
	}

	if (EVENTCOUNTS) {
		let element = document.querySelector("#event-counts");
		element.classList.add("highlight-button");
	}

	if (COMPOSITE) {
		let element = document.querySelector("#composite");
		element.classList.add("highlight-button");
	}

	if (FULLCOLOR) {
		output += "<span id='colorFullComposite'";
		let element = document.querySelector("#colorFullComposite");
		element.classList.add("highlight-button");
	}

	if (ANALYSIS) {
		let element = document.querySelector("#analysis-only");
		element.classList.add("highlight-button");
	}

	if (COINCIDENCE) {
		let element = document.querySelector("#coincidence");
		element.classList.add("highlight-button");
	}

}


//////////////////////////////
//
// hasGroupInfo -- true if there is group info such as *grp:A in data.
//

function hasGroupInfo(exampleNum) {
	return 1;
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	let script = document.querySelector("#example-notation");
	if (!script) {
		// console.log("Error: cannot find data script for example");
		// have to set as a callback to displayHumdrum since don't know if data has
		// grouping until it is loaded.
		return 1;
	}
	let data = script.textContent;
	if (data.match(/\*grp:/)) {
		return true;
	} else {
		return false;
	}
}



/////////////////////////////
//
// toggleGroup --
//

function toggleGroup() {
	GROUP = !GROUP;
	let groupelement = document.querySelector("#group");
	if (groupelement) {
		if (GROUP) {
			groupelement.classList.add("highlight-button");
		} else {
			groupelement.classList.remove("highlight-button");
		}
	}
	let options = {};
	let id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleComposite --
//

function toggleComposite() {
	COMPOSITE = !COMPOSITE;
	let compositeelement = document.querySelector("#composite");
	if (compositeelement) {
		if (COMPOSITE) {
			compositeelement.classList.add("highlight-button");
		} else {
			compositeelement.classList.remove("highlight-button");
		}
	}
	let options = {};
	let id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleCoincidence --
//

function toggleCoincidence() {
	COINCIDENCE = !COINCIDENCE;
	let coincidenceelement = document.querySelector("#coincidence");
	if (coincidenceelement) {
		if (COINCIDENCE) {
			coincidenceelement.classList.add("highlight-button");
		} else {
			coincidenceelement.classList.remove("highlight-button");
		}
	}
	let options = {};
	let id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



//////////////////////////////
//
// prepareFilter --
//

function prepareFilter() {

	if (!FULLCOLOR && !COLOR && !COMPOSITE && !GROUP && !COINCIDENCE && !MARK && !EVENTCOUNTS) {
		return "";
	}

	FILTER = "composite -u";

	if (COMPOSITE) {
		FILTER += "";
	}
	if (GROUP) {
		FILTER += "g";
		if (!COMPOSITE) {
			FILTER += "F";
		}
	}
	if (FULLCOLOR) {
		FILTER += "C";
	}
	if (COINCIDENCE) {
		FILTER += "c";
		if ((!COMPOSITE) && (!FILTER.match(/F/))) {
			FILTER += "F";
		}
	}
	if (EVENTCOUNTS) {
		FILTER += "e";
	}
	if (MARK) {
		if (!COMPOSITE && !GROUP && !COINCIDENCE) {
			FILTER += "M";
		} else {
			FILTER += "m";
		}
	}
	if (ANALYSIS) {
		if (!COMPOSITE && !GROUP && !COINCIDENCE) {
			// no analyses to do, but want to keep marks in input.
		} else {
			FILTER += "x";
		}
	}


	if (COLOR) {
		if (COMPOSITE || GROUP || COINCIDENCE || MARK || EVENTCOUNTS) {
			FILTER += "| "
		} else {
			FILTER = "";
		}
		FILTER += "shed -e 's/grp:A/color:crimson/I; s/grp:B/color:dodgerblue/I'";
	
	}
console.warn("FILTER", FILTER);

	return FILTER;
}



/////////////////////////////
//
// toggleColor --
//

function toggleColor() {
	COLOR = !COLOR;
	let colorelement = document.querySelector("#color");
	if (colorelement) {
		if (COLOR) {
			colorelement.classList.add("highlight-button");
		} else {
			colorelement.classList.remove("highlight-button");
		}
	}
	let id = "example-notation";
	let options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleColorFullComposite --
//

function toggleColorFullComposite() {
	FULLCOLOR = !FULLCOLOR;
	let colorelement = document.querySelector("#colorFullComposite");
	if (colorelement) {
		if (FULLCOLOR) {
			colorelement.classList.add("highlight-button");
		} else {
			colorelement.classList.remove("highlight-button");
		}
	}
	let id = "example-notation";
	let options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleAnalysisOnly --
//

function toggleAnalysisOnly() {
	ANALYSIS = !ANALYSIS;
	let analysiselement = document.querySelector("#analysis-only");
	if (analysiselement) {
		if (ANALYSIS) {
			analysiselement.classList.add("highlight-button");
		} else {
			analysiselement.classList.remove("highlight-button");
		}
	}
	let id = "example-notation";
	let options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleMark --
//

function toggleMark() {
	MARK = !MARK;
	let markelement = document.querySelector("#mark");
	if (markelement) {
		if (MARK) {
			markelement.classList.add("highlight-button");
		} else {
			markelement.classList.remove("highlight-button");
		}
	}
	let id = "example-notation";
	let options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleEventCounts --
//

function toggleEventCounts() {
	EVENTCOUNTS = !EVENTCOUNTS;
	let eventelement = document.querySelector("#event-counts");
	if (eventelement) {
		if (EVENTCOUNTS) {
			eventelement.classList.add("highlight-button");
		} else {
			eventelement.classList.remove("highlight-button");
		}
	}
	let id = "example-notation";
	let options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// copyLink --
//

function copyLink(exampleNum) {
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	let data = window.location.href
	data = data.replace(/id=\d+/, "id=" + exampleNum);
	CopyToClipboard(data);
}



/////////////////////////////
//
// copyData --
//

function copyData(exampleNum) {
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	// let script = document.querySelector("#example-notation-" + exampleNum);
	let script = document.querySelector("#example-notation");
	if (!script) {
		console.log("Error: cannot data script for emxaple");
		return;
	}
	let data = script.textContent;
	if (!FILTER.match(/^\s*$/)) {
		if (data.slice(-1) !== "\n") {
			data += "\n";
		}
		data += `!!!filter: ${FILTER}\n`;
	   if (ANALYSIS) {
      	if (!COMPOSITE && !GROUP && !COINCIDENCE) {
         	// no analyses to do, but want to keep marks in input.
      	} else {
         	data += "!!!verovio: spacingStaff 22\n";
      	}
   	}
	}
	CopyToClipboard(data);
}



//////////////////////////////
//
// buildNextPrevious --
//

function buildNextPrevious2(examples, order) {
	let lookup = {};
	for (let i=0; i<examples.length; i++) {
		lookup[examples[i]["Example No."]] = examples[i];
	}
	let newexamples = [];
	for (i=0; i<order.length; i++) {
		newexamples.push(lookup[order[i]]);
	}

	output = {};
	for (let i=0; i<newexamples.length; i++) {
		let exid = newexamples[i]["Example No."];
		if (!exid) {
			console.log("ERROR in buildNextPrevious2()");
			continue;
		}
		let nexti = i + 1;
		let lasti = i - 1;
		if (nexti >= newexamples.length) {
			nexti = 0;
		}
		if (lasti < 0) {
			lasti = newexamples.length - 1;
		}
		output[exid] = {};
		output[exid].next = newexamples[nexti];
		output[exid].previous = newexamples[lasti];
	}
	return output;
}



//////////////////////////////
//
// buildNextPrevious --
//

function buildNextPrevious(examples) {
	output = {};
	for (let i=0; i<examples.length; i++) {
		let exid = examples[i]["Example No."];
		if (!exid) {
			console.log("ERROR in buildNextPrevious()");
			continue;
		}
		let nexti = i + 1;
		let lasti = i - 1;
		if (nexti >= examples.length) {
			nexti = 0;
		}
		if (lasti < 0) {
			lasti = examples.length - 1;
		}
		output[exid] = {};
		output[exid].next = examples[nexti];
		output[exid].previous = examples[lasti];
	}
	return output;
}



//////////////////////////////
//
// hideUnavailableE3 -- Check E3 buttons to see if there is an E3
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE3(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let e3regions = document.querySelectorAll(".e3-region");
	console.log("E3REGIONS", e3regions);
	for (let i=0; i<e3regions.length; i++) {
		let id = e3regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id + "-e3"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e3regions[i].style.display = "none";
		}
	}
}

//////////////////////////////
//
// hideUnavailableE2 -- Check E2 buttons to see if there is an E2
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE2(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let e2regions = document.querySelectorAll(".e2-region");
	console.log("E2REGIONS", e2regions);
	for (let i=0; i<e2regions.length; i++) {
		let id = e2regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id + "-e2"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e2regions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableE0 -- Check E0 (suter) buttons to see if there is an E0
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE0(tag, index) {
	let database = index[tag];
console.error("DATABASE", database);
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let e0regions = document.querySelectorAll(".e0-region");
	console.warn("================================================");
	console.log("E0REGIONS", e0regions);
	console.warn("================================================");
	for (let i=0; i<e0regions.length; i++) {
		let id = e0regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id + "-e0"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e0regions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableE1 -- Check E1 buttons to see if there is an E1
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE1(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let e1regions = document.querySelectorAll(".e1-region");
	console.log("E1REGIONS", e1regions);
	for (let i=0; i<e1regions.length; i++) {
		let id = e1regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id + "-e1"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e1regions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableSibPdf -- Check sibpdf buttons to see if there is a sibpdf
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableSibPdf(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let sibpdfregions = document.querySelectorAll(".pdf-region");
	console.log("SIBPDFREGIONS", sibpdfregions);
	for (let i=0; i<sibpdfregions.length; i++) {
		let id = sibpdfregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id + "-sib"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			sibpdfregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableAcoustic -- Check acoustic recording buttons to see if there is a
//     recording for that button.  If there is none, then hide the button.
//

function hideUnavailableAcoustic(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let acousticregions = document.querySelectorAll(".acoustic-region");
	console.log("ACOUSTICREGIONS", acousticregions);
	for (let i=0; i<acousticregions.length; i++) {
		let id = acousticregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			acousticregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableEastWest -- Check acoustic recording buttons to see if there is a
//     recording for that button.  If there is none, then hide the button.
//

function hideUnavailableEastWest(tag, index) {
	let database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	let eastwestregions = document.querySelectorAll(".eastwest-region");
	console.log("EASTWESTREGIONS", eastwestregions);
	for (let i=0; i<eastwestregions.length; i++) {
		let id = eastwestregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		let state = database[id];
console.log("EASTWEST", id, state);
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			eastwestregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// addProblemIcons --
//

function addProblemIcons(id) {
	let query = "#" + id + "-container svg";
	let svg = document.querySelector(query);
	if (svg) {
		// Mark encoding problem messages with red caution symbol.
		spans = svg.querySelectorAll("g.dir.problem tspan.rend tspan.text tspan.text");
		for (i=0; i<spans.length; i++) {
			s = spans[i];
			if (s.innerHTML === "P") {
				s.innerHTML = "&#xf071;";
				s.classList.add("p");
			}
		}
	}
}


</script>



