

{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3:nowrap


//////////////////////////////
//
// displayExample --
//

function displayExample(exid, examples) {
	exid = exid.replace(/^[TR]/, "");   // R129 maps to 129
	var element = document.querySelector("div#example");
	if (!element) {
		console.log("Error: could not find #example");
		return;
	}

	if (!examples) {
		examples = EXAMPLELIST;
	}

	if (!exid) {
		exid = CURRENTEXAMPLE;
	}
	if (!exid) {
		exid = "129"
	}
	CURRENTEXAMPLE = exid;

	var entry = FindExampleById(exid, examples);

	if (!entry) {
		console.log("Error: did not find entry for example", exid);
		return;
	}

	var output = "";

	output += "<table id='example-info'>";

	output += "<tr>";
	output += "<td>";
	output += "Ex";
	if (entry["Entry Dataset"] === "R") {
		var pu = "https://raw.githubusercontent.com/epoudrier/RDS_Scores_2018/";
		pu += "Reserve_Dataset/pdf/";
		pu += entry["Filename"];
		pu += ".pdf";
		output += "<a target='_blank' style='color:#696969;' href='" + pu + "'>";
		output += "a"
		output += "</a>";
	} else {
		output += "a"
	}
	output += "mple ID:";

	output += "</td>";
	output += "<td>";
	if (entry["Example Dataset"] === "R") {
		output += "R";
	} else {
		output += "T";
	}
	output += exid;
	output += "</td>";
	output += "</tr>";

	// work ID
	var workid = entry["Work ID"];
	if (workid) {
		output += "<tr>";
		output += "<td>";
		output += "Work ID:";
		output += "</td>";
		output += "<td>";
		output += "<a target='_blank' href='/work?id=" + workid + "'>";
		output += workid;
		output += "</a>";

		if (entry["@examples"]) {
			var ecount = entry["@examples"].length;
			ecount--;
			if (ecount > 0) {
				output += " (" + ecount + " other example";
				if (ecount != 1) {
					output += "s";
				}
				output += " in this work)";
			}
		}

		output += "</td>";
		output += "</tr>";
	}

	// title of source work
	var title = entry["Work Title"];
	if (title) {
		output += "<tr>";
		output += "<td>";
		output += "Work title:";
		output += "</td>";
		output += "<td>";
		output += title;
		output += "</td>";
		output += "</tr>";
	}

	// starting measure
	var startm = entry["Example Start Measure"];
	if (startm) {
		output += "<tr>";
		output += "<td>";
		output += "Starting measure:";
		output += "</td>";
		output += "<td>";
		output += startm;
		output += "</td>";
		output += "</tr>";
	}

	// ending measure
	var endm = entry["Example End Measure"];
	if (endm) {
		output += "<tr>";
		output += "<td>";
		output += "Ending measure:";
		output += "</td>";
		output += "<td>";
		output += endm;
		output += "</td>";
		output += "</tr>";
	}

	// genre
	var genre = entry["Genre"];
	if (genre) {
		output += "<tr>";
		output += "<td>";
		output += "Genre:";
		output += "</td>";
		output += "<td>";
		output += genre;
		var subgenre = entry["Sub-Genre"];
		if (subgenre) {
			output += " / " + subgenre;
		}
		output += "</td>";
		output += "</tr>";
	}

	// composer's name
	var composer = entry["Composer Name"];
	if (composer) {
		output += "<tr>";
		output += "<td>";
		output += "Composer:";
		output += "</td>";
		output += "<td>";
		output += composer;
		output += "</td>";
		output += "</tr>";
	}

	// composition date
	var cdate = entry["Composition Year"];
	if (cdate) {
		output += "<tr>";
		output += "<td>";
		output += "Composition date:";
		output += "</td>";
		output += "<td>";
		output += cdate;
		output += "</td>";
		output += "</tr>";
	}

	// first published
	var fdate = entry["First Publication Year"];
	if (fdate) {
		output += "<tr>";
		output += "<td>";
		output += "Publication date:";
		output += "</td>";
		output += "<td>";
		output += fdate;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere date
	var premierdate = entry["Premiere Date"];
	if (premierdate) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere date:";
		output += "</td>";
		output += "<td>";
		output += premierdate.replace(/-/g, " ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere location
	var premier = entry["Premiere Location"];
	if (premier) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere location:";
		output += "</td>";
		output += "<td>";
		output += premier.replace(/,\s*/g, ", ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere ensemble
	var ensemble = entry["Ensemble"];
	if (ensemble && (ensemble !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere ensemble:";
		output += "</td>";
		output += "<td>";
		output += ensemble;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere conductor
	var conductor = entry["Conductor"];
	if (conductor && (conductor !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere conductor:";
		output += "</td>";
		output += "<td>";
		output += conductor.replace(/,\s*/g, ", ");
		output += "</td>";
		output += "</tr>";
	}

	// Premiere soloists
	var soloists = entry["Soloists"];
	if (soloists && (soloists !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere soloists:";
		output += "</td>";
		output += "<td>";
		output += soloists.replace(/,\s*/g, ", ").replace(/;\s*/g, "; ");;
		output += "</td>";
		output += "</tr>";
	}

	output += "</table>";

	output += "<span ";
	output += " onclick='copyLink(\"" + CURRENTEXAMPLE + "\")'";
	output += " title='";
	output += "Copy page link";
	output += "'";
	output += " class='vhv-button'>link</span>";

	output += "<span ";
	output += " onclick='copyData(\"" + CURRENTEXAMPLE + "\")'";
	output += " title='";
	output += "Copy Humdrum data to the system clipboard";
	output += "'";
	output += " class='vhv-button'>copy</span>";

	if (hasGroupInfo(CURRENTEXAMPLE)) {

		output += "<span id='analysis-only'";
		output += " onclick='toggleAnalysisOnly()'";
		output += " title='";
		output += "Toogle analysis only";
		output += "'";
		output += " class='vhv-button'>only&nbsp;analysis</span>";

		output += "<span id='mark'";
		output += " onclick='toggleMark()'";
		output += " title='";
		output += "Toogle coincidence marks";
		output += "'";
		output += " class='vhv-button'>mark</span>";

		output += "<span id='coincidence'";
		output += " onclick='toggleCoincidence()'";
		output += " title='";
		output += "Toogle coincidence analysis by group";
		output += "'";
		output += " class='vhv-button'>coincidence</span>";

		output += "<span id='group'";
		output += " onclick='toggleGroup()'";
		output += " title='";
		output += "Toogle composite analysis by group";
		output += "'";
		output += " class='vhv-button'>group</span>";

		output += "<span id='composite'";
		output += " onclick='toggleComposite()'";
		output += " title='";
		output += "Toogle composite analysis";
		output += "'";
		output += " class='vhv-button'>composite</span>";

		output += "<span id='color'";
		output += " onclick='toggleColor()'";
		output += " title='";
		output += "Toogle group coloring";
		output += "'";
		output += " class='vhv-button'>color</span>";

	}

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button pdf-region'>";
	output += "<a target='_pdf' href='/resources/pdf/sibelius/" + CURRENTEXAMPLE + "-sib.pdf'>sibpdf</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button e2-region'>";
	output += "<a target='_e2' href='/resources/pdf/e2/" + CURRENTEXAMPLE + "-e2.pdf'>E2</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button e1-region'>";
	output += "<a target='_e1' href='/resources/pdf/e1/" + CURRENTEXAMPLE + "-e1.pdf'>E1</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button suter-region'>";
	output += "<a target='_suter' href='/resources/pdf/suter/" + CURRENTEXAMPLE + ".pdf'>suter</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button sibelius-region hidden'>";
	output += "<a target='_audio' href='/resources/recordings/sibelius/" + CURRENTEXAMPLE + ".m4a'>sibaudio</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button eastwest-region hidden'>";
	output += "<a target='_audio' href='/resources/recordings/eastwest/" + CURRENTEXAMPLE + ".m4a'>eastwest</a>";
	output += "</span>";

	output += "<span data-id='" + CURRENTEXAMPLE + "' class='vhv-button acoustic-region'>";
	output += "<a target='_audio' href='/resources/recordings/acoustic/" + CURRENTEXAMPLE + ".m4a'>recording</a>";
	output += "</span>";

	element.innerHTML = output;
	showCurrentAudio();
	var fname = entry["Filename"];
	var url = "";
	if (fname.match(/^R/)) {
		url = "https://raw.githubusercontent.com/polyrhythm-project/rds-scores/";
		url += "master/kern/";
		url += fname;
		url += ".krn";
	} else {
		url = "https://raw.githubusercontent.com/craigsapp/polyrhythm-scores/";
		url += "master/kern/";
		url += fname;
		url += ".krn";
	}

	console.log("URI", url);
	var dset = entry["Example Dataset"];
	//if (dset === "R") {
		// T dataset is not online yet...
		displayHumdrum({
			source: "example-notation",
			postFunction: addProblemIcons,
			url: url
		});
	//}

	PrepareResourceFileIndex("e1", "/resources/pdf/e1/index.txt", hideUnavailableE1);
	PrepareResourceFileIndex("e2", "/resources/pdf/e2/index.txt", hideUnavailableE2);
	PrepareResourceFileIndex("sibpdf", "/resources/pdf/sibelius/index.txt", hideUnavailableSibPdf);
	PrepareResourceFileIndex("acoustic", "/resources/recordings/acoustic/index.txt", hideUnavailableAcoustic);
	PrepareResourceFileIndex("eastwest", "/resources/recordings/eastwest/index.txt", hideUnavailableEastWest);

	setButtonStates();

	/* VHV loading button
	if (entry["Work Dataset"] === "R") {
		var button = document.querySelector("#vbutton");
		if (button) {
			button.addEventListener("click", function() {
				var url = "https://verovio.humdrum.org/?k=e&file=";
				url += "https://raw.githubusercontent.com/craigsapp/";
				url += "polyrhythm-scores/master/";
				url += "kern/";
				url += entry["Filename"];
				url += ".krn";
				window.open(url, '_blank');
			});
			button.classList.add("vhv-button");
			button.title = "Load example score into Verovio Humdrum Viewer editor";
			button.innerHTML = "VHV";
		}
	}
	*/
}



//////////////////////////////
//
// setButtonStates --
//

function setButtonStates() {
	if (COLOR) {
		var element = document.querySelector("#color");
		element.classList.add("highlight-button");
	}
	if (GROUP) {
		var groupelement = document.querySelector("#group");
		groupelement.classList.add("highlight");
	}
	if (MARK) {
		var element = document.querySelector("#mark");
		element.classList.add("highlight-button");
	}
	if (COMPOSITE) {
		var element = document.querySelector("#composite");
		element.classList.add("highlight-button");
	}
	if (ANALYSIS) {
		var element = document.querySelector("#analysis-only");
		element.classList.add("highlight-button");
	}
	if (COINCIDENCE) {
		var element = document.querySelector("#coincidence");
		element.classList.add("highlight-button");
	}
}


//////////////////////////////
//
// hasGroupInfo -- true if there is group info such as *grp:A in data.
//

function hasGroupInfo(exampleNum) {
	return 1;
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	var script = document.querySelector("#example-notation");
	if (!script) {
		// console.log("Error: cannot find data script for example");
		// have to set as a callback to displayHumdrum since don't know if data has
		// grouping until it is loaded.
		return 1;
	}
	var data = script.textContent;
	if (data.match(/\*grp:/)) {
		return true;
	} else {
		return false;
	}
}



/////////////////////////////
//
// toggleGroup --
//

function toggleGroup() {
	GROUP = !GROUP;
	var groupelement = document.querySelector("#group");
	if (groupelement) {
		if (GROUP) {
			groupelement.classList.add("highlight-button");
		} else {
			groupelement.classList.remove("highlight-button");
		}
	}
	var options = {};
	var id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleComposite --
//

function toggleComposite() {
	COMPOSITE = !COMPOSITE;
	var compositeelement = document.querySelector("#composite");
	if (compositeelement) {
		if (COMPOSITE) {
			compositeelement.classList.add("highlight-button");
		} else {
			compositeelement.classList.remove("highlight-button");
		}
	}
	var options = {};
	var id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleCoincidence --
//

function toggleCoincidence() {
	COINCIDENCE = !COINCIDENCE;
	var coincidenceelement = document.querySelector("#coincidence");
	if (coincidenceelement) {
		if (COINCIDENCE) {
			coincidenceelement.classList.add("highlight-button");
		} else {
			coincidenceelement.classList.remove("highlight-button");
		}
	}
	var options = {};
	var id = "example-notation";
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



//////////////////////////////
//
// prepareFilter --
//

function prepareFilter() {
	FILTER = "";

	if (GROUP) {
		if (!FILTER.match(/^\s*$/)) {
			FILTER += " | ";
		}
		FILTER += "composite -u";
		if (COINCIDENCE && !COMPOSITE) {
			FILTER += "c";
		}
		if (MARK) {
			FILTER += "M";
		}
	}

	if (COMPOSITE) {
		if (!FILTER.match(/^\s*$/)) {
			FILTER += " | ";
		}
		FILTER += "composite -Gu";
		if (COINCIDENCE) {
			FILTER += "c";
		}
		if (MARK) {
			FILTER += "M";
		}
	}

	if (COINCIDENCE && !(COMPOSITE || GROUP)) {
		if (!FILTER.match(/^\s*$/)) {
			FILTER += " | ";
		}
		FILTER += "composite -Guc";
		if (MARK) {
			FILTER += "M";
		}
		FILTER += " | extract -s '1-$2,$'";
	}

	if (ANALYSIS && (COMPOSITE || GROUP || COINCIDENCE)) {
		if (!FILTER.match(/^\s*$/)) {
			FILTER += " | ";
		}
		FILTER += "extract -g 'Composite|Group A|Group B|Coincidence'";
	}

	if (COLOR) {
		if (!FILTER.match(/^\s*$/)) {
			FILTER += " | ";
		}
		FILTER += "shed -e 's/grp:A/color:crimson/I; s/grp:B/color:dodgerblue/I'";
	}

	return FILTER;
}



/////////////////////////////
//
// toggleColor --
//

function toggleColor() {
	COLOR = !COLOR;
	var colorelement = document.querySelector("#color");
	if (colorelement) {
		if (COLOR) {
			colorelement.classList.add("highlight-button");
		} else {
			colorelement.classList.remove("highlight-button");
		}
	}
	var id = "example-notation";
	var options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleAnalysisOnly --
//

function toggleAnalysisOnly() {
	ANALYSIS = !ANALYSIS;
	var analysiselement = document.querySelector("#analysis-only");
	if (analysiselement) {
		if (ANALYSIS) {
			analysiselement.classList.add("highlight-button");
		} else {
			analysiselement.classList.remove("highlight-button");
		}
	}
	var id = "example-notation";
	var options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// toggleMark --
//

function toggleMark() {
	MARK = !MARK;
	var markelement = document.querySelector("#mark");
	if (markelement) {
		if (MARK) {
			markelement.classList.add("highlight-button");
		} else {
			markelement.classList.remove("highlight-button");
		}
	}
	var id = "example-notation";
	var options = {};
	options.source = id;
	options.filter = prepareFilter();
	displayHumdrum(options);
}



/////////////////////////////
//
// copyLink --
//

function copyLink(exampleNum) {
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	var data = window.location.href
	data = data.replace(/id=\d+/, "id=" + exampleNum);
	CopyToClipboard(data);
}



/////////////////////////////
//
// copyData --
//

function copyData(exampleNum) {
	if (!exampleNum) {
		exampleNum = CURRENTEXAMPLE;
	}
	// var script = document.querySelector("#example-notation-" + exampleNum);
	var script = document.querySelector("#example-notation");
	if (!script) {
		console.log("Error: cannot data script for emxaple");
		return;
	}
	var data = script.textContent;
	if (!FILTER.match(/^\s*$/)) {
		if (data.slice(-1) !== "\n") {
			data += "\n";
		}
		data += `!!!filter: ${FILTER}\n`;
	}
	CopyToClipboard(data);
}



//////////////////////////////
//
// buildNextPrevious --
//

function buildNextPrevious2(examples, order) {
	var lookup = {};
	var i;
	for (i=0; i<examples.length; i++) {
		lookup[examples[i]["Example No."]] = examples[i];
	}
	var newexamples = [];
	for (i=0; i<order.length; i++) {
		newexamples.push(lookup[order[i]]);
	}

	output = {};
	for (i=0; i<newexamples.length; i++) {
		var exid = newexamples[i]["Example No."];
		if (!exid) {
			console.log("ERROR in buildNextPrevious2()");
			continue;
		}
		var nexti = i + 1;
		var lasti = i - 1;
		if (nexti >= newexamples.length) {
			nexti = 0;
		}
		if (lasti < 0) {
			lasti = newexamples.length - 1;
		}
		output[exid] = {};
		output[exid].next = newexamples[nexti];
		output[exid].previous = newexamples[lasti];
	}
	return output;
}



//////////////////////////////
//
// buildNextPrevious --
//

function buildNextPrevious(examples) {
	output = {};
	for (var i=0; i<examples.length; i++) {
		var exid = examples[i]["Example No."];
		if (!exid) {
			console.log("ERROR in buildNextPrevious()");
			continue;
		}
		var nexti = i + 1;
		var lasti = i - 1;
		if (nexti >= examples.length) {
			nexti = 0;
		}
		if (lasti < 0) {
			lasti = examples.length - 1;
		}
		output[exid] = {};
		output[exid].next = examples[nexti];
		output[exid].previous = examples[lasti];
	}
	return output;
}



//////////////////////////////
//
// hideUnavailableE2 -- Check E2 buttons to see if there is an E2
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE2(tag, index) {
	var database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	var e2regions = document.querySelectorAll(".e2-region");
	console.log("E2REGIONS", e2regions);
	for (var i=0; i<e2regions.length; i++) {
		var id = e2regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		var state = database[id + "-e2"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e2regions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableE1 -- Check E1 buttons to see if there is an E1
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableE1(tag, index) {
	var database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	var e1regions = document.querySelectorAll(".e1-region");
	console.log("E1REGIONS", e1regions);
	for (var i=0; i<e1regions.length; i++) {
		var id = e1regions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		var state = database[id + "-e1"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			e1regions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableSibPdf -- Check sibpdf buttons to see if there is a sibpdf
//     score for that button.  If there is none, then hide the button.
//

function hideUnavailableSibPdf(tag, index) {
	var database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	var sibpdfregions = document.querySelectorAll(".pdf-region");
	console.log("SIBPDFREGIONS", sibpdfregions);
	for (var i=0; i<sibpdfregions.length; i++) {
		var id = sibpdfregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		var state = database[id + "-sib"];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			sibpdfregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableAcoustic -- Check acoustic recording buttons to see if there is a
//     recording for that button.  If there is none, then hide the button.
//

function hideUnavailableAcoustic(tag, index) {
	var database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	var acousticregions = document.querySelectorAll(".acoustic-region");
	console.log("ACOUSTICREGIONS", acousticregions);
	for (var i=0; i<acousticregions.length; i++) {
		var id = acousticregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		var state = database[id];
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			acousticregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// hideUnavailableEastWest -- Check acoustic recording buttons to see if there is a
//     recording for that button.  If there is none, then hide the button.
//

function hideUnavailableEastWest(tag, index) {
	var database = index[tag];
	if (!database) {
		console.log("ERROR: cannot find file index for", tag);
		return;
	}
	console.log("TAG", tag, "INDEX", index);
	var eastwestregions = document.querySelectorAll(".eastwest-region");
	console.log("EASTWESTREGIONS", eastwestregions);
	for (var i=0; i<eastwestregions.length; i++) {
		var id = eastwestregions[i].dataset.id;
		console.log("ID", id);
		if (!id) {
			continue;
		}
		if (id.match(/^\s*$/)) {
			continue;
		}
		var state = database[id];
console.log("EASTWEST", id, state);
		if (state) {
			// file found so do nothing
			continue;
		} else {
			// file not found so hide it on page
			eastwestregions[i].style.display = "none";
		}
	}
}



//////////////////////////////
//
// addProblemIcons --
//

function addProblemIcons(id) {
	var query = "#" + id + "-container svg";
	var svg = document.querySelector(query);
	if (svg) {
		// Mark encoding problem messages with red caution symbol.
		spans = svg.querySelectorAll("g.dir.problem tspan.rend tspan.text tspan.text");
		for (i=0; i<spans.length; i++) {
			s = spans[i];
			if (s.innerHTML === "P") {
				s.innerHTML = "&#xf071;";
				s.classList.add("p");
			}
		}
	}
}


</script>



