
{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3


//////////////////////////////
//
// displayList --
//

function displayList(entries, query) {

	var dtype = "example";
	var selement = document.querySelector("#table-scope");
	if (selement && selement.value === "work") {
		dtype = "work";
	}

	reportMatches(entries);

	var output = "";

	output += "<table id='metadata-list'>";

	if (dtype === "example") {
		output += "<thead>";
		output += "<tr>";
		output += "<th title='Sort by composer' onclick='SortByWorkId(0, \"#metadata-list\")'>ID</th>";
		// missing example count
		output += "<th title='Sort by composer' onclick='SortByText(1, \"#metadata-list\")'>Composer</th>";
		output += "<th title='Sort by title' onclick='SortByText(2, \"#metadata-list\")'>Title</th>";
		output += "<th title='Sort by title' onclick='SortByText(3, \"#metadata-list\")'>Genre</th>";
		output += "<th title='Sort by title' onclick='SortByText(4, \"#metadata-list\")'>Composed</th>";
		output += "<th style='padding-right:10px;' title='Sort by title' onclick='SortByText(5, \"#metadata-list\")'>Premiered</th>";
		output += "<th title='Sort by title' onclick='SortByText(6, \"#metadata-list\")'>Published</th>";
		output += "</tr>";
		output += "</thead>";
	} else {
		output += "<thead>";
		output += "<tr>";
		output += "<th title='Sort by composer' onclick='SortByWorkID(0, \"#metadata-list\")'>ID</th>";
		output += "<th title='Sort by composer' onclick='SortByNumber(1, \"#metadata-list\", true)'>Examples&nbsp;&nbsp;</th>";
		output += "<th title='Sort by composer' onclick='SortByText(2, \"#metadata-list\")'>Composer</th>";
		output += "<th title='Sort by title' onclick='SortByText(3, \"#metadata-list\")'>Title</th>";
		output += "<th title='Sort by title' onclick='SortByText(4, \"#metadata-list\")'>Genre</th>";
		output += "<th title='Sort by title' onclick='SortByText(5, \"#metadata-list\")'>Composed</th>";
		output += "<th style='padding-right:10px;' title='Sort by title' onclick='SortByText(6, \"#metadata-list\")'>Premiered</th>";
		output += "<th title='Sort by title' onclick='SortByText(7, \"#metadata-list\")'>Published</th>";
		output += "</tr>";
		output += "</thead>";
	}

	output += "<tbody>";
	output += makeMetaTableRows(entries, dtype);
	output += "</tbody>";
	output += "</table>";

	var element = document.querySelector("div#list");
	if (query) {
		element.style.display = "none";
		var inp = document.querySelector("input#search");
		if (inp) {
			inp.value = query;
			doSearch(query);
		}
	} else if (entries.length == 0) {
		element.innerHTML = "";
	} else {
		element.innerHTML = output;
	}
	if (dtype === "example") {
		SortByNumber(SORTCOLUMN, "#metadata-list");
	} else {
		SortByWorkID(SORTCOLUMN, "#metadata-list");
	}

	if (query) {
		element.style.display = "block";
	}
}



//////////////////////////////
//
// makeMetaTableRows
//

function makeMetaTableRows(list, dtype) {
	var output = "";
	var i;
	var j;

	for (var i=0; i<list.length; i++) {
		if (!list[i]["Work Title"]) {
			continue;
		}
		output += "<tr class='data'>";

		output += "<td style='white-space:pre;'>";
		if (dtype === "example") {

			if (list[i]["Example No."]) {
				if (list[i]["Work Dataset"] === "R") {
					output += "<b>";
		 			output += list[i]["Example No."];
					output += "</b>";
				} else {
		 			output += list[i]["Example No."];
				}
			}

		} else {	
			var hasReserve = 0;
			var elist = list[i]["@examples"];
			for (j=0; j<elist.length; j++) {
				if (elist[j]["Work Dataset"] === "R") {
					hasReserve = 1;
					break;
				}
			}
			if (hasReserve) {
				output += "<b>";
			}
			if (list[i]["Work ID"]) {
		 		output += list[i]["Work ID"];
			}
			if (hasReserve) {
				output += "</b>";
			}

		}
		output += "</td>";

		if (dtype === "work") {
			output += "<td style='text-align:center;'>";
			output += list[i]["@examples"].length;
			output += "</td>";
		}

		output += "<td style='min-width:150px;'>";
		if (list[i]["Composer Name"]) {
		 	output += PreparePerson(list[i]["Composer Name"]);
		}
		output += "</td>";

		output += "<td style='max-width:450px;'>";
		if (list[i]["Work Title"]) {
		 	output += PrepareTitle(list[i]["Work Title"]);
		}
		output += "</td>";

		output += "<td>";
		if (list[i]["Genre"]) {
		 	output += list[i]["Genre"];
			if (list[i]["Sub-Genre"]) {
		 		output += "/" + list[i]["Sub-Genre"];
			}
		}
		output += "</td>";

		output += "<td style='text-align:center; white-space:pre;'>";
		if (list[i]["Composition Year"]) {
		 	output += list[i]["Composition Year"];
		}
		output += "</td>";

		output += "<td style='text-align:center;'>";
		if (list[i]["First Public Performance Year"]) {
		 	output += list[i]["First Public Performance Year"];
		}
		output += "</td>";

		output += "<td style='text-align:center;'>";
		if (list[i]["First Publication Year"]) {
		 	output += list[i]["First Publication Year"];
		}
		output += "</td>";

		output += "</tr>";
	}
	return output;
}



//////////////////////////////
//
// doSearch --
//

function doSearch(text) {

	if (!text) {
		var element = document.querySelector("input#search");
		text = element.value;
	}

	var entries = EXAMPLELIST;

	var selement = document.querySelector("#table-scope");
	if (selement && selement.value === "work") {
		// only show works, not examples
		entries = WORKLIST;
	}

	var celement = document.querySelector("#composer");
	var composer = "";
	if (celement) {
		composer = celement.value;
	}
	composer = composer.replace(/\s*,.*/, "");

	var gelement = document.querySelector("#genre");
	var genre = "";
	var subgenre = ""
	if (gelement) {
		var m = gelement.value.match(/(.*)\/(.*)/);
		if (m) {
			genre = m[1];
			subgenre = m[2];
		} else {
			genre = gelement.value;
		}
	}

	genre = genre.replace(/\s+$/, "").replace(/^\s+/, "");
	subgenre = subgenre.replace(/\s+$/, "").replace(/^\s+/, "");

	text = text.trim();
	text = escape(text);
	text = text.replace(/%u0([A-F0-9][A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/%u([A-F0-9][A-F0-9][A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/%([A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/\&#x([0-7][0-9A-F]);/g, "%$1");
	text = unescape(text);
	var fields = text.split(/\s+/);
	var i;

	// filter by composer if needed
	var oldentries;
	if (composer) {
		oldentries = entries;
		entries = [];
		var testcomp;
		for (i=0; i<oldentries.length; i++) {
			testcomp = PreparePerson(oldentries[i]["Composer Name"]);
			if (!testcomp) {
				continue;
			}
			testcomp = testcomp.replace(/\s*,.*/, "");
			if (testcomp === composer) {
				entries.push(oldentries[i]);
				continue;
			}
		}
	}

	// filter by genre/subgenre if needed
	var oldentries;
	if (genre) {
		oldentries = entries;
		entries = [];
		var greg = new RegExp(genre, "i");
		var sgreg = new RegExp(subgenre, "i");
		for (i=0; i<oldentries.length; i++) {
			if (oldentries[i]["Genre"] && oldentries[i]["Genre"].match(greg) &&
			    oldentries[i]["Sub-Genre"] && oldentries[i]["Sub-Genre"].match(sgreg)) {
				entries.push(oldentries[i]);
				continue;
			}
		}
	}

	for (i=0; i<fields.length; i++) { 
		if (fields[i].match(/^\s*$/)) {
			continue;
		}
		oldentries = entries;
		entries = [];
		var regexp = new RegExp(fields[i], "i");
		for (var j=0; j<oldentries.length; j++) {
			if (CGI.f) {
				if (oldentries[j][CGI.f] && oldentries[j][CGI.f].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
			} else {

				if (oldentries[j]["Work Title"] && oldentries[j]["Work Title"].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}

			}
		}
		
	}

	displayList(entries, null);
}


//////////////////////////////
//
// filterByWorks --
//

function filterByWorks(entries) {
	var items = {};



}


//////////////////////////////
//
// reportMatches --
//

function reportMatches(list) {
	var element = document.querySelector("#search-count");
	if (!element) {
		return;
	}
/*
	if (list.length == METADATA.length) {
		element.innerHTML = "";
		return;
	}
*/
	var output = "" + list.length;
	element.innerHTML = output;
}



//////////////////////////////
//
// buildComposerSelect --
//

function buildComposerSelect(list, selector) {
	var composers = {};
	var composer;
	var i;
	for (i=0; i<list.length; i++) {
		composer = PreparePerson(list[i]["Composer Name"]);
		composers[composer] = 1;
	}
	var clist = Object.keys(composers).sort();
	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	var output = "";
	output += "<option value=''>all composers</a>\n";
	for (i=0; i<clist.length; i++) {
		if (!clist) {
			continue;
		}
		output += "<option value='" + clist[i] + "'>" + clist[i] + "</option>\n";
	}
	element.innerHTML = output;
}



//////////////////////////////
//
// buildGenreSelect --
//

function buildGenreSelect(list, selector) {
	var genres = {};
	var genre;
	var subgenre;
	var i;
	for (i=0; i<list.length; i++) {
		genre = list[i]["Genre"];
		if (!genre) {
			continue;
		}
		genre = genre.replace(/\s+$/, "").replace(/^\s+/, "");
		if (list[i]["Sub-Genre"]) {
			subgenre = list[i]["Sub-Genre"];
			subgenre = subgenre.replace(/\s+$/, "").replace(/^\s+/, "");
	 		genre += "/" + subgenre;
		}
		genres[genre] = 1;
	}
	var clist = Object.keys(genres).sort();
	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	var output = "";
	output += "<option value=''>all genres</a>\n";
	for (i=0; i<clist.length; i++) {
		if (!clist) {
			continue;
		}
		output += "<option value='" + clist[i] + "'>" + clist[i] + "</option>\n";
	}
	element.innerHTML = output;
}


</script>




