
{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>

// CGI parameters known to this page:
// 
//     plot__url_base  == base URL for vega plot script
//     plot__file      == filename for vega plot script
//     plot            == plot_script_url_base + plot_script_file
//     data_url_base   == base URL for data
//     data_file       == filename for data
//     data            == data_url_base + data_file

var CGI = {};
var PLOT_JSON = {};

var PLOT_URL_BASE = "https://raw.githubusercontent.com/polyrhythm-project/vegalitetest/master";
var PLOT_FILE     = "stacked_layered_accents_grouped_butterfly.JSON";
var PLOT          = PLOT_URL_BASE + "/" + PLOT_FILE;

var DATA_URL_BASE = "https://raw.githubusercontent.com/polyrhythm-project/vegalitetest/master";
var DATA_FILE     = "161S.tsv";
var DATA          = DATA_URL_BASE + "/" + DATA_FILE;



//////////////////////////////
//
// loadVegaScript --
//

function loadVegaScript(plotUrl) {
	if (!plotUrl) {
		plotUrl = PLOT;
	}
	PLOT = plotUrl;
	var request = new XMLHttpRequest();
	request.open('GET', plotUrl);
	request.onload = function() {
		// console.log("REQUESTED DATA", request.responseText);
		PLOT_JSON = JSON.parse(request.responseText);
		displayDataPlot("#plotRegion");
	}
	request.send();
}



//////////////////////////////
//
// displayDataPlot --
//

function displayDataPlot(plotId) {
	if (!plotId) {
		plotId = "#plotRegion";
	}
	PLOT_JSON.data.url = DATA;
	vegaEmbed(plotId, PLOT_JSON);
	displayPlotInfo();
}



//////////////////////////////
//
// displayPlotInfo --
//

function displayPlotInfo() {
	var pelement = document.querySelector("#plot_info");
	var delement = document.querySelector("#data_info");
	var pfelement = document.querySelector("#plotfile_info");
	var dfelement = document.querySelector("#datafile_info");
	var uelement = document.querySelector("#url_info");
	var pageelement = document.querySelector("#page_info");
	if (!(pelement && delement && uelement)) {
		return;
	}
	if (pageelement) {
		pageelement.innerHTML = '<a target="_blank" href="' + document.location.origin + '">' + document.location.origin + '</a>';
	}
	var matches;
	var plotbase = "";
	var database = "";

	var datafile = "";
	var plotfile = "";

	if (pfelement) {
		matches = PLOT.match(/(.*)\/([^\/]*)/);
		if (matches) {
			plotbase = matches[1];
			plotfile = matches[2];
			pfelement.innerHTML = '<a target="_blank" href="' + PLOT + '">' + plotfile + '</a>';
		}
	}

	if (dfelement) {
		matches = DATA.match(/(.*)\/([^\/]*)/);
		if (matches) {
			datafile = matches[2];
			database = matches[1];
			dfelement.innerHTML = '<a target="_blank" href="' + DATA + '">' + datafile + '</a>';
		}
	}

	pelement.innerHTML = '<a target="_blank" href="' + PLOT + '">' + PLOT + '</a>';
	delement.innerHTML = '<a target="_blank" href="' + DATA + '">' + DATA + '</a>';

	var shortenPlot = 0;
	var shortenData = 0;
	if ((database === DATA_URL_BASE)) {
		shortenData = 1;
	}
	if ((plotbase === PLOT_URL_BASE)) {
		shortenPlot = 1;
	}

	var url = document.location.origin + "/" + document.location.pathname + "?";

	if (shortenPlot) {
		url += "plotFile=" + encodeURIComponent(plotfile);
	} else {
		url += "plot=" + encodeURIComponent(PLOT); 
	}

	if (shortenData) {
		url += "&dataFile=" + encodeURIComponent(datafile);
	} else {
		url += "&data=" + encodeURIComponent(DATA); 
	}

	url = url.replace("///", "//", "g");
	uelement.innerHTML = '<a target="_blank" href="' + url + '">' + url + '</a>';
}


</script>





