<script>
// vim: ts=3

var EXAMPLELIST = [];  // Data downloaded from Google spreadsheets.
var FILEINDEX = {};     // List of various resource files.


//////////////////////////////
//
// DownloadSpreadsheetData --  Download the master index and store
//    in a global variable called EXAMPLELIST.
//

function DownloadSpreadsheetData(callback) {

	// Show busy cursor while downloading index:
	setTimeout(function () {
		document.body.classList.add("wait");
	}, 0);

	// Check if the index is already stored in sessionStorage:
	if (sessionStorage.EXAMPLELIST) {
		try {
			EXAMPLELIST = JSON.parse(sessionStorage.EXAMPLELIST);
			if (callback) {
				callback();
			}
			setTimeout(function () {
				document.body.classList.remove("wait");
			}, 50);
			return;
		} catch (err) {
			delete sessionStorage.EXAMPLELIST;
		}
	}

	// Get JSON version from above spreadsheet:
	var id = "AKfycbwFFV1cmeeoFPSLgYY__tFAIqdVZBLLFtxL-ASMyQzGnYPqTXXC";
	var url = "https://script.google.com/macros/s/" + id + "/exec";
	var request = new XMLHttpRequest();
	request.addEventListener("load", function () {
		try {
			EXAMPLELIST = JSON.parse(this.responseText);
			sessionStorage.EXAMPLELIST = this.responseText;
		} catch (error) {
			console.log("ERROR: ", error.message);
			// Do a backup access method of some sort.
		}
		if (callback) {
			callback();
		}
		setTimeout(function () {
			document.body.classList.remove("wait");
		}, 50);
	});
	request.open("GET", url);
	request.send();
}



//////////////////////////////
//
// HighlightLinkInHeader --
//   border-bottom: 2px solid #8c1515;
//

function HighlightLinkInHeader() {
	var element = document.querySelector("ul.highlight");
	if (!element) {
		return;
	}

	var list = element.querySelectorAll("li a");
	var target = window.location.pathname.replace(/\/$/, "");
	for (var i=0; i<list.length; i++) {
		var location = list[i].pathname.replace(/\/$/, "");
		if (location === target) {
			list[i].style.borderBottom = "2px solid #8c1515";
		} else {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
		if (list[i].textContent.match(/About/)) {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
	}
}



//////////////////////////////
//
// GetCgiParameters -- Returns an associative array containing the
//     page's URL's CGI parameters
//

function GetCgiParameters() {
   var url = window.location.search.substring(1);
   var output = {};
   var settings = url.split('&');
   for (var i=0; i<settings.length; i++) {
      var pair = settings[i].split('=');
      pair[0] = decodeURIComponent(pair[0]);
      pair[1] = decodeURIComponent(pair[1]);
      if (typeof output[pair[0]] === 'undefined') {
         output[pair[0]] = pair[1];
      } else if (typeof output[pair[0]] === 'string') {
         var arr = [ output[pair[0]], pair[1] ];
         output[pair[0]] = arr;
      } else {
         output[pair[0]].push(pair[1]);
      }
   }
   return output;
}



//////////////////////////////
//
// PreparePerson --
//

function PreparePerson(name) {
	if (!name) {
		console.log("Error empty name in PreparePerson():", name);
		return name;
	}
	return name.replace(/\(.*?\)/g, "").replace(/\[(.*?)\]/g, "");
}



//////////////////////////////
//
// PrepareTitle --
//

function PrepareTitle(name) {
	return name.replace(/\(.*?\)/g, "");
}



//////////////////////////////
//
// FlipName --
//

function FlipName(bname) {
	var matches = bname.match(/^([^,]+),\s+([^,]+)$/);
	if (!matches) {
		return bname;
	} else {
		return matches[2] + " " + matches[1];
	}
}



//////////////////////////////
//
// SortByNumber --
//

function SortByNumber(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = 0;
		var Bnum = 0;
		var matches;
		if (matches = A.match(/(\d+)/)) {
			Anum = parseInt(matches[1]);
		}
		if (matches = B.match(/(\d+)/)) {
			Bnum = parseInt(matches[1]);
		}

		if (reverse) {
			return Bnum - Anum;
		} else {
			return Anum - Bnum;
		}
	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}




//////////////////////////////
//
// SortBySeconds --
//

function SortBySeconds(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = 987654321;
		var Bnum = 987654321;
		var matches;
		if (matches = A.match(/(\d+)/)) {
			Anum = parseInt(matches[1]);
		}
		if (matches = B.match(/(\d+)/)) {
			Bnum = parseInt(matches[1]);
		}

		if (Anum == 987654321) {
			if (Bnum == 987654321) {
				if (reverse) {
					return B.localeCompare(A);
				} else {
					return A.localeCompare(B);
				}
			} else {
				if (reverse) {
					return -1;
				} else {
					return +1;
				}
			}
		} else if (Bnum == 987654321) {
			if (reverse) {
				return +1
			} else {
				return -1;
			}
		}

		if (reverse) {
			return Bnum - Anum;
		} else {
			return Anum - Bnum;
		}
	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByTempo --
//

function SortByTempo(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = 0;
		var Bnum = 0;
		var matches;

		if (matches = A.match(/(\d+)/)) {
			Anum = parseInt(matches[1]);
		}

		if (matches = B.match(/(\d+)/)) {
			Bnum = parseInt(matches[1]);
		}

		if (Anum == 0) {
			if (Bnum == 0) {
				return 0;
			}
			return +1;
		}

		if (Bnum == 0) {
			if (Anum == 0) {
				return 0;
			}
			return -1;
		}


		// Check for non matches here (when num/den values are 0).

		if (Anum < Bnum) {
			return -1;
		}
		if (Anum > Bnum) {
			return +1;
		}

		return 0;

	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	//if (reverse) {
	//	datalist.reverse();
	//}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByTimeSignature --
//

function SortByTimeSignature(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;


		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		if (A.match("unmetered") && B.match("unavailable")) {
			return -1;
		}
		if (B.match("unmetered") && A.match("unavailable")) {
			return +1;
		}
		if (B.match("unmetered") && A.match("unmetered")) {
			return 0;
		}
		if (B.match("unavalable") && A.match("unavalable")) {
			return 0;
		}

		var Anum = 0;
		var Bnum = 0;
		var Aden = 0;
		var Bden = 0;
		var matches;

		if (matches = A.match(/(\d+)\/(\d+)/)) {
			Anum = parseInt(matches[1]);
			Aden = parseInt(matches[2]);
		}

		if (matches = B.match(/(\d+)\/(\d+)/)) {
			Bnum = parseInt(matches[1]);
			Bden = parseInt(matches[2]);
		}

		if ((Anum == 0) || (Aden == 0)) {
			if ((Bnum == 0) || (Bden == 0)) {
				return 0;
			}
			return +1;
		}

		if ((Bnum == 0) || (Bden == 0)) {
			if ((Anum == 0) || (Aden == 0)) {
				return 0;
			}
			return -1;
		}


		// Check for non matches here (when num/den values are 0).

		// Then sort by numerator, smallest value first:
		if (Anum < Bnum) {
			return -1;
		}
		if (Anum > Bnum) {
			return +1;
		}

		// Sort by denominator first, smallest value first:
		if (Aden < Bden) {
			return -1;
		}
		if (Aden > Bden) {
			return +1;
		}

		return 0;

	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	//if (reverse) {
	//	datalist.reverse();
	//}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByDruid --
//

function SortByDruid(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].querySelector("a").href;
		var B = b.cells[index].querySelector("a").href;

		if (!A) {
			return +1;
		}
		if (!B) {
			return -1;
		}

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = "";
		var Bnum = "";
		var matches;
		var regex = new RegExp(/([a-z]{2}\d{3}[a-z]{2}\d{4})/, 'i');
		if (matches = regex.exec(A)) {
			Anum = matches[1];
		}
		if (matches = regex.exec(B)) {
			Bnum = matches[1];
		}

		// if (reverse) {
		//	return Bnum.localeCompare(Anum);
		// } else {
	 	return Anum.localeCompare(Bnum);
		// }
	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByWorkId -- Sort by "R" or "T" prefix, then 3-letter composer code,
//       then numerically by work number for composer.
//

function SortByWorkId(index, selector) {
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;

		if (A.match(/^\s*$/)) { return +1; }
		if (B.match(/^\s*$/)) { return -1; }

		var atext = "";
		var anum = "";
		var btext = "";
		var bnum = "";

		var matches;

		matches = A.match(/^([TR])\d/);
		var aprefix = "";
		if (matches) {
			aprefix = matches[1];
		}

		matches = B.match(/^([TR])\d/);
		var bprefix = "";
		if (matches) {
			bprefix = matches[1];
		}

		if (aprefix != bprefix) {
			return aprefix.localeCompare(bprefix);
		}

		if (A.match(/^[TR]\d/)) {
			A = A.replace(/^[TR]/, "");
		}
		if (B.match(/^[TR]\d/)) {
			B = B.replace(/^[TR]/, "");
		}

		var workid = 0;
		matches = A.match(/^([a-z]{3})-(\d+)$/i);
		if (matches) {
			atext = matches[1];
			anum = parseInt(matches[2]);
			workid = 1;
		}

		matches = B.match(/^([a-z]{3})-(\d+)$/i);
		if (matches) {
			btext = matches[1];
			bnum = parseInt(matches[2]);
			workid = 1;
		}

		if (workid) {  // Not example ID
			if (atext.match(/^\s*$/)) { return +1; }
			if (btext.match(/^\s*$/)) { return -1; }

			if (atext !== btext) {
				return A.localeCompare(B);
			}

			return anum - bnum;
		} else { // Example ID
			return A.localeCompare(B);
		}

	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByText --
//

function SortByText(index, selector) {
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;
		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}
		var result = A.localeCompare(B);
		return result;
	});

	SORTORDER[index]++;
	if (SORTORDER[index] % 2 == 0) {
		datalist.reverse();
	}

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// ParseSpreadsheet --
//

function ParseSpreadsheet(text) {
	var lines = text.match(/[^\r\n]+/g);
	var mapping = {};
	var data = lines[0].split(/\t/);
	var i;
	var j;
	for (i=0; i<data.length; i++) {
		mapping[i] = data[i];
	}
	var output = [];
	for (i=1; i<lines.length; i++) {
		data = lines[i].split(/\t/);
		var item = {};
		for (j=0; j<data.length; j++) {
			item[mapping[j]] = data[j];
		}
		output.push(item);
	}
	return output;
}



//////////////////////////////
//
// GenerateWorklist --
//

function GenerateWorklist(list) {
	var tlist = {};
	var workid;
	var output = [];
	for (var i=0; i<list.length; i++) {
		workid = list[i]["Work ID"];
		if (tlist[workid]) {
			tlist[workid]["@examples"].push(list[i]);
		} else {
			tlist[workid] = list[i];
			tlist[workid]["@examples"] = [];
			tlist[workid]["@examples"].push(list[i]);
			output.push(list[i]);
		}
	}
	return output;
}



///////////////////////////////
//
// CreateComposerList -- make a list of the composers sorted alphabetically
//     by last name, with arrays of the works by that composers that are included
//     in the database.
//
// Other information about composer:
//    "Birth Date"
//    "Birth Place"
//    "Death Date"
//    "Death Place"
//    "Nationality"
//
//

function CreateComposerList(worklist) {
	var cinfo = {};
	var name;
	var born;
	var died;
	var bornloc;
	var diedloc;
	var nationality;
	var i;
	for (i=0; i<worklist.length; i++) {
		name = worklist[i]["Composer Name"];
		if (!name) {
			continue;
		}
		born = worklist[i]["Birth Date"];
		died = worklist[i]["Death Date"];
		bornloc = worklist[i]["Birth Place"];
		diedloc = worklist[i]["Death Place"];
		nationality = worklist[i]["Nationality"];
		if (!cinfo[name]) {
			// create a name
			cinfo[name] = {};
			cinfo[name]["Composer Name"] = name;
			cinfo[name]["Birth Date"] = born;
			cinfo[name]["Death Date"] = died;
			cinfo[name]["Birth Place"] = bornloc;
			cinfo[name]["Death Place"] = diedloc;
			cinfo[name]["Nationality"] = nationality.replace(/,\s*/g, ", ");
			cinfo[name]["@works"] = [];
			cinfo[name]["@works"].push(worklist[i]);
		} else {
			// add a work to the composer's list
			cinfo[name]["@works"].push(worklist[i]);
		}
	}
	var composers = Object.keys(cinfo).sort();
	var output = [];
	for (i=0; i<composers.length; i++) {
		output.push(cinfo[composers[i]]);
	}

	return output;
}



//////////////////////////////
//
// FindExampleById --
//

function FindExampleById(exid, examples) {
	if (!exid) {
		return null;
	}
	if (!examples) {
		examples = EXAMPLELIST;
	}
	for (var i=0; i<examples.length; i++) {
		if (examples[i]["Example No."] === exid) {
			return examples[i];
		}
	}
	return null;
}



//////////////////////////////
//
// FindWorkById --
//

function FindWorkById(wid, works) {
	if (!wid) {
		return null;
	}
	if (!works) {
		works = WORKLIST;
	}
	for (var i=0; i<works.length; i++) {
		if (works[i]["Work ID"] === wid) {
			return works[i];
		}
	}
	return null;
}



//////////////////////////////
//
// CopyToClipboard --
//

function CopyToClipboard(data) {
  const element = document.createElement('textarea');
  element.value = data;
  element.setAttribute('readonly', '');
  element.style.position = 'absolute';
  element.style.left = '-9999px';
  document.body.appendChild(element);
  element.select();
  document.execCommand('copy');
  document.body.removeChild(element);
};



//////////////////////////////
//
// PrepareResourceFileIndex --
//  e1, /resources/pdf/e1/index.txt == Supplementary edition for scores (first additional editon).
//  e2, /resources/pdf/e2/index.txt == Supplementary edition for scores (second additional editon).
//  recording, /resources/recordings/acoustic/index.txt == Audio recording of example
//

function PrepareResourceFileIndex(tag, indexfile, callback) {
	var storagename = tag + "_INDEX";
	if (sessionStorage[storagename] && !sessionStorage[storagename].match(/^\s*$/)) {
		var index = JSON.parse(sessionStorage[storagename]);
		FILEINDEX[tag] = index;
		if (callback) {
			callback(tag, FILEINDEX);
		}
	} else {
		// download and store
		var request = new XMLHttpRequest();
		request.addEventListener("load", function () {
         if (this.responseText.match(/<\/html>/)) {
				console.log("WARNING: file", indexfile, "not found.");
				console.log("CONTENTS:", this.responseText);
				return;
			}
			var list = this.responseText.split(/\r?\n/);
			var index = {};
			for (var i=0; i<list.length; i++) {
				var item = list[i];
				if (!item) {
					continue;
				}
				if (item.match(/^\s*$/)) {
					continue;
				}
				if (item.match(/^\s*#/)) {
					continue;
				}
				index[item] = 1;
			}
			sessionStorage[storagename] = JSON.stringify(index);
			FILEINDEX[tag] = index;
			if (callback) {
				callback(tag, FILEINDEX);
			}
		});
		request.open("GET", indexfile);
		request.send();
	}
}


</script>

