
<script>
// vim: ts=3

let EXAMPLELIST = [];  // Data downloaded from Google spreadsheets.
let FILEINDEX = {};     // List of let resource files.

{% include scripts/spreadsheet_index_mappings.js %}

{% include scripts/ParseSpreadsheet.js %}
{% include scripts/DownloadSpreadheetData.js %}
{% include scripts/HighlightLinkInHeader.js %}
{% include scripts/GetCgiParameters.js %}
{% include scripts/PreparePerson.js %}
{% include scripts/PrepareTitle.js %}
{% include scripts/FlipName.js %}
{% include scripts/SortByNumber.js %}
{% include scripts/SortBySeconds.js %}
{% include scripts/SortByTempo.js %}
{% include scripts/SortByTimeSignature.js %}
{% include scripts/SortByDruid.js %}
{% include scripts/SortByWorkId.js %}
{% include scripts/SortByText.js %}
{% include scripts/GenerateWorkList.js %}
{% include scripts/CreateComposerList.js %}
{% include scripts/FindExampleById.js %}
{% include scripts/FindWorkById.js %}
{% include scripts/CopyToClipboard.js %}
{% include scripts/PrepareResourceFileIndex.js %}


</script>

