<script src="https://verovio-script.humdrum.org/scripts/verovio-toolkit.js"></script>
<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin.js"></script>
<script>var vrvToolkit = new verovio.toolkit()</script>

{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3


//////////////////////////////
//
// displayWork --
//

function displayWork(wid, works) {
	var element = document.querySelector("div#work");
	if (!element) {
		console.log("Error: could not find #work");
		return;
	}

	if (!works) {
		works = WORKLIST;
	}

	if (!wid) {
		wid = CURRENTWORK;
	}
	if (!wid) {
		wid = "Jan-30"
	}
	CURRENTWORK = wid;

	var entry = FindWorkById(wid, works);

	if (!entry) {
		console.log("Error: did not find entry for example", wid);
		return;
	}

	var output = "";

	output += "<table id='work-info'>";

	output += "<tr>";
	output += "<td>";
	output += "Work ID:";
	output += "</td>";
	output += "<td>";
	output += wid;
	output += "</td>";
	output += "</tr>";

	// title of source work
	var title = entry["Work Title"];
	if (title) {
		output += "<tr>";
		output += "<td>";
		output += "Work title:";
		output += "</td>";
		output += "<td>";
		output += title;
		output += "</td>";
		output += "</tr>";
	}

	// genre
	var genre = entry["Genre"];
	if (genre) {
		output += "<tr>";
		output += "<td>";
		output += "Genre:";
		output += "</td>";
		output += "<td>";
		output += genre;
		var subgenre = entry["Sub-Genre"];
		if (subgenre) {
			output += " / " + subgenre;
		}
		output += "</td>";
		output += "</tr>";
	}

	// composer's name
	var composer = entry["Composer Name"];
	if (composer) {
		output += "<tr>";
		output += "<td>";
		output += "Composer:";
		output += "</td>";
		output += "<td>";
		output += composer;
		output += "</td>";
		output += "</tr>";
	}

	// composition date
	var cdate = entry["Composition Year"];
	if (cdate) {
		output += "<tr>";
		output += "<td>";
		output += "Composition date:";
		output += "</td>";
		output += "<td>";
		output += cdate;
		output += "</td>";
		output += "</tr>";
	}

	// first published
	var fdate = entry["First Publication Year"];
	if (fdate) {
		output += "<tr>";
		output += "<td>";
		output += "Publication date:";
		output += "</td>";
		output += "<td>";
		output += fdate;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere date
	var premierdate = entry["Premiere Date"];
	if (premierdate) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere date:";
		output += "</td>";
		output += "<td>";
		output += premierdate.replace(/-/g, " ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere location
	var premier = entry["Premiere Location"];
	if (premier) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere location:";
		output += "</td>";
		output += "<td>";
		output += premier.replace(/,\s*/g, ", ");;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere ensemble
	var ensemble = entry["Ensemble"];
	if (ensemble && (ensemble !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere ensemble:";
		output += "</td>";
		output += "<td>";
		output += ensemble;
		output += "</td>";
		output += "</tr>";
	}

	// Premiere conductor
	var conductor = entry["Conductor"];
	if (conductor && (conductor !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere conductor:";
		output += "</td>";
		output += "<td>";
		output += conductor.replace(/,\s*/g, ", ");
		output += "</td>";
		output += "</tr>";
	}

	// Premiere soloists
	var soloists = entry["Soloists"];
	if (soloists && (soloists !== "none")) {
		output += "<tr>";
		output += "<td>";
		output += "Premiere soloists:";
		output += "</td>";
		output += "<td>";
		output += soloists.replace(/,\s*/g, ", ").replace(/;\s*/g, "; ");;
		output += "</td>";
		output += "</tr>";
	}

	output += "</table>";

	element.innerHTML = output;
	displayExamples(entry);
}



//////////////////////////////
//
// displayExamples --
//

function displayExamples(work) {
	elist = work["@examples"];
	if (!elist) {
		return;
	}

	var element = document.querySelector("#examples");
	if (!element) {
		return;
	}

	var output = "";
	output += "<h2 style='margin-bottom:20px;'>";
	output += "Examples";
	output += " (";
	output += elist.length;
	output += ")";
	output += "</h2>";

	console.log("CREATE EXAMPLES FOR WORK", work);

	var i;
	for (i=0; i<elist.length; i++) {
		output += displayExample(elist[i]);
		if (i < elist.length - 1) {
			output += "<hr noshade>";
		}
	}

	element.innerHTML = output;

	for (i=0; i<elist.length; i++) {
		//if (elist[i]["Work Dataset"] === "R") {
			var container = document.querySelector("#notation-container-" + elist[i]["Example No."]);
			if (container) {
				var script = document.createElement("script");
				script.type = "text/x-humdrum";
				script.id = "example-notation-" + elist[i]["Example No."];
				container.appendChild(script);
			}

			var url = "https://raw.githubusercontent.com/craigsapp";
			url += "/polyrhythm-scores/master/kern/";
			url += elist[i]["Filename"];
			url += ".krn";
			displayHumdrum({
				source: "example-notation-" + elist[i]["Example No."],
				url: url
			});
		//}
	}

}



//////////////////////////////
//
// displayExample --
//

function displayExample(entry) {
	var output = "";
	output += "<table id='example-info'>";

	var exid = entry["Example No."];
	if (exid) {
		output += "<tr>";
		output += "<td>";
		output += "Example ID:";
		output += "</td>";
		output += "<td>";
		output += "<a target='_blank' href='/example?id=" + exid + "'>";
		output += exid;
		output += "</a>";
		output += "</td>";
		output += "</tr>";
	}
	
	// starting measure
	var startm = entry["Example Start Measure"];
	if (startm) {
		output += "<tr>";
		output += "<td>";
		output += "St"
		if (entry["Work Dataset"] === "R") {
			var pu = "https://github.com/epoudrier/RDS_Scores_2018/raw/Reserve_Dataset/";
			pu += "pdf/";
			pu += entry["Filename"];
			pu += ".pdf";
			output += "<a target='_blank' style='color:#696969;' href='" + pu + "'>";
			output += "a"
			output += "</a>";
		} else {
			output += "a"
		}
		output += "rting measure:";
		output += "</td>";
		output += "<td>";
		output += startm;
		output += "</td>";
		output += "</tr>";
	}

	// ending measure
	var endm = entry["Example End Measure"];
	if (endm) {
		output += "<tr>";
		output += "<td>";
		output += "Ending measure:";
		output += "</td>";
		output += "<td>";
		output += endm;
		output += "</td>";
		output += "</tr>";
	}

	output += "</table>";

	//if (entry["Work Dataset"] === "R") {
		output += "<span ";
		output += " onclick='window.open(\"https://verovio.humdrum.org/?file=";
		output += "https://raw.githubusercontent.com/craigsapp/polyrhythm-scores/master";
		output += "kern/";
		output += entry["Filename"] + ".krn";
		output += "\", \"_blank\")'"; 
		output += " title='";
		output += "Load example score into Verovio Humdrum Viewer editor";
		output += "'";
		output += " class='vhv-button'>VHV</span>";
	//}

	output += "<div id='notation-container-" + entry["Example No."];
	output += "'></div>";

	return output;
}



//////////////////////////////
//
// buildNextPreviousWork --
//

function buildNextPreviousWork(works) {
	output = {};
	for (var i=0; i<works.length; i++) {
		var wid = works[i]["Work ID"];
		if (!wid) {
			console.log("ERROR in buildNextPreviousWork()");
			continue;
		}
		var nexti = i + 1;
		var lasti = i - 1;
		if (nexti >= works.length) {
			nexti = 0;
		}
		if (lasti < 0) {
			lasti = works.length - 1;
		}
		output[wid] = {};
		output[wid].next = works[nexti];
		output[wid].previous = works[lasti];
	}
	return output;
}


</script>




