
{% include_relative listeners.html %}
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3


//////////////////////////////
//
// createRecordingList -- Convert the individual examples in to an array of
//     objects by work id.
//

function createRecordingList(exampleList) {
	let works = {};
	for (let i=0; i<exampleList.length; i++) {
		let workid = "";
		if (typeof INDEX_Suter_Work_ID != "undefined") {
			workid = exampleList[i][INDEX_Suter_Work_ID];
		}
		if (!workid) {
			console.warn("NO WORKID FOR", exampleList[i]);
			continue;
		}
		if (!workid.match(/^[A-Z][a-z][a-z]-\d+x?$/)) {
			console.error("WORKID", workid, "IS INVALID FOR", exampleList[i]);
			continue;
		}
		if (typeof works[workid] === "undefined") {
			works[workid] = [ exampleList[i] ];
		} else {
			works[workid].push(exampleList[i]);
		}
	}

	return works;
}


//////////////////////////////
//
// displayRecordingList --
//

let RECLIST;

function displayRecordingList(workList) {

	if (!RECLIST) {
		RECLIST = workList;
	}
	if (!workList) {
		workList = RECLIST;
	}

	let sortedList = [];

	let sortElement = document.querySelector("#sort-method");
	let sortType = sortElement.value;
	console.warn("SORT TYPE", sortType);

	if (sortType === "workid") {

		let keys = Object.getOwnPropertyNames(workList);
		keys.sort(function (a, b) {
			let matchesA = a.match(/^(.*)-(.*)(x?)/);
			let matchesB = b.match(/^(.*)-(.*)(x?)/);
			let nameA = matchesA[1];
			let nameB = matchesB[1];
			let numA  = parseInt(matchesA[2]);
			let numB  = parseInt(matchesB[2]);
			let extA  = matchesA[3] || "";
			let extB  = matchesB[3] || "";
			if (nameA !== nameB) {
				return nameA.localeCompare(nameB);
			}
			if (numA != numB) {
				return numA - numB;
			}
			// Deal with such as Mai-6x:
			if (extA == "") {
				return -1;
			} else {
				return 1;
			}
		});
		for (let i=0; i<keys.length; i++) {
			sortedList[i] = workList[keys[i]];
		}

	} else if (sortType === "exid") {
		let keys = Object.getOwnPropertyNames(workList);
		for (let i=0; i<keys.length; i++) {
			sortedList[i] = workList[keys[i]];
		}

		sortedList.sort(function (a, b) {
			let exidA = a[0].Filename.replace(/_.*/, "").replace(/^[TR]/, "");
			let exidB = b[0].Filename.replace(/_.*/, "").replace(/^[TR]/, "");
			return exidA.localeCompare(b);
		});

		// console.warn("NEW SORTED LIST", sortedList);

	} else if (sortType === "cyear") {

		let keys = Object.getOwnPropertyNames(workList);
		keys.sort(function (a, b) {
			let matchesA;
			let matchesb;
			let yearA = workList[a][0]["Composition Year"] || "";
			let yearB = workList[b][0]["Composition Year"] || "";
			if (!yearA && !yearB) {
				return 0;
			}
			if (!yearA) {
				return +1;
			}
			if (!yearB) {
				return -1;
			}
			matchesA = yearA.match(/([12]\d{3})/);
			if (matchesA) {
				yearA = parseInt(matchesA[1]);
			}
			matchesB = yearB.match(/([12]\d{3})/);
			if (matchesB) {
				yearB = parseInt(matchesB[1]);
			}
			if (yearA != yearB) {
				return yearA - yearB;
			}
			matchesA = a.match(/^(.*)-(.*)(x?)/);
			matchesB = b.match(/^(.*)-(.*)(x?)/);
			let nameA = matchesA[1];
			let nameB = matchesB[1];
			let numA  = parseInt(matchesA[2]);
			let numB  = parseInt(matchesB[2]);
			let extA  = matchesA[3] || "";
			let extB  = matchesB[3] || "";
			if (nameA !== nameB) {
				return nameA.localeCompare(nameB);
			}
			if (numA != numB) {
				return numA - numB;
			}
			// Deal with such as Mai-6x:
			if (extA == "") {
				return -1;
			} else {
				return 1;
			}
		});
		for (let i=0; i<keys.length; i++) {
			sortedList[i] = workList[keys[i]];
		}

	} else if (sortType === "ryear") {

		let keys = Object.getOwnPropertyNames(workList);
		keys.sort(function (a, b) {
			let matchesA;
			let matchesb;
			let yearA = workList[a][0]["Recording Release Year"] || "";
			let yearB = workList[b][0]["Recording Release Year"] || "";
			if (yearA.match(/^[^\d]*$/)) {
				yearA = "";
			}
			if (yearB.match(/^[^\d]*$/)) {
				yearB = "";
			}
			if (!yearA && !yearB) {
				return 0;
			}
			if (!yearA) {
				return +1;
			}
			if (!yearB) {
				return -1;
			}
			matchesA = yearA.match(/([12]\d{3})/);
			if (matchesA) {
				yearA = parseInt(matchesA[1]);
			} else {
				yearA = "";
			}
			matchesB = yearB.match(/([12]\d{3})/);
			if (matchesB) {
				yearB = parseInt(matchesB[1]);
			} else {
				yearB = "";
			}
			if (!yearA && !yearB) {
				return 0;
			}
			if (!yearA) {
				return +1;
			}
			if (!yearB) {
				return -1;
			}
			if (yearA != yearB) {
				return yearA - yearB;
			}
			matchesA = a.match(/^(.*)-(.*)(x?)/);
			matchesB = b.match(/^(.*)-(.*)(x?)/);
			let nameA = matchesA[1];
			let nameB = matchesB[1];
			let numA  = parseInt(matchesA[2]);
			let numB  = parseInt(matchesB[2]);
			let extA  = matchesA[3] || "";
			let extB  = matchesB[3] || "";
			if (nameA !== nameB) {
				return nameA.localeCompare(nameB);
			}
			if (numA != numB) {
				return numA - numB;
			}
			// Deal with such as Mai-6x:
			if (extA == "") {
				return -1;
			} else {
				return 1;
			}
		});
		for (let i=0; i<keys.length; i++) {
			sortedList[i] = workList[keys[i]];
		}

	}

	let container = document.querySelector("#recording-list");
	if (!container) {
		console.error("Error: cannot find recording list container");
		return;
	}

	let output = "";
	output += "<table id='work-list'>";

	for (let i=0; i<sortedList.length; i++) {
		output += generateWorkEntry(sortedList[i]);
	}

	output += "</table>";
	container.innerHTML = output;

console.warn("RECLIST", sortedList);

}



//////////////////////////////
//
// printScoreEntry -- print one entry in the score list.
//
// Example entry:
// Recording URL: "https://open.spotify.com/track/67n0A39MXBnnAnhTYltXj4?si=AyW8buuMQ2CGZ0-XvU5mRQ"
// Recording Album Title: "Charles Ives Chamber Music: Four First Recordings"
// Recording Catalogue No.: "B00BMYFDJ6"
// Recording Label: "soundmark"
// Recording Release Year: "2011"
// Composer Name: "Ives, Charles"
// Composition Year: "1909"
// Example ID: "Ive-21/3-4/16-19"
// Filename: "T243_Ive-w21p3-4m16-19"
// Work ID: "Ive-21"
// Work Title: "Largo Risoluto No. 1 for Piano and String Quartet"
// 
function generateWorkEntry(entry) {
	let first = entry[0];
	if (!first) {
		console.warn("ERROR: Problem with entry", entry);
		return;
	}

	let workid   = "";
	let composer = "";
	let title    = "";
	let cyear    = "";
	let ryear    = "";

	if (typeof INDEX_Suter_Work_ID != "undefined") {
		workid   = first[INDEX_Suter_Work_ID] || "";
	} else {
		console.error("INDEX_Suter_Work_ID not defined");
	}

	if (typeof INDEX_Composer_Name != "undefined") {
		composer = first[INDEX_Composer_Name] || "";
	} else {
		console.error("INDEX_Composer_Name not defined");
	}

	if (typeof INDEX_Suter_Work_ID != "undefined") {
		title = first[INDEX_Work_Title] || "";
	} else {
		console.error("INDEX_Suter_Work_Title not defined");
	}

	if (typeof INDEX_Composition_Year != "undefined") {
		cyear = first[INDEX_Composition_Year] || "";
	} else {
		console.error("INDEX_Composition_Year not defined");
	}

	if (typeof INDEX_Recording_Release_Year != "undefined") {
		ryear     = first[INDEX_Recording_Release_Year] || "";
	} else {
		console.error("INDEX_Recording_Release_Year not defined");
	}

	if (cyear.match(/\(/)) {
		cyear = cyear.replace(/ \(/g, "; ").replace(/\)/g, " ");
	}
	if (ryear.match(/\(/)) {
		ryear = ryear.replace(/ \(/g, "; ").replace(/\)/g, " ");
	}
	let e = [];
	for (let i=0; i<entry.length; i++) {
		let id = "";
		if (typeof INDEX_Suter_Example_Number != "undefined") {
			id = entry[i][INDEX_Suter_Example_Number];
		}
		id = id.replace(/^[A-Z][a-z][a-z]-\d+\//, "");
		let filename = entry[i]["Filename"];
		let exid = filename.replace(/_.*/, "");
		let num = exid;

		if (!num) {
			console.warn("Missing example number in entry", entry[i]);
			continue;
		}
		if (!exid) {
			console.warn("Missing example ID", entry[i]);
			continue;
		}
		e[i] = { id: id, exid: exid, num: num };
	}

	let elist = "";
	for (let i=0; i<e.length; i++) {
		elist += `<a href="/example/?id=${e[i].exid}">${e[i].exid}</a>`;
		if (i < e.length - 1) {
			elist += ", ";
		}
	}

	let a0url   = first["Recording URL"] || "";
	if (!a0url.match(/http/)) {
		a0url = "";
	}
	let a0title = first["Recording Album Title"] || "";
	let a0cat   = first["Recording Catalogue No."] || "";
	let a0label = first["Recording Label"] || "";
	let a0year  = first["Recording Release Year"] || "";
	if (!a0year.match(/\d{4}/)) {
		a0year = "";
	} else {
		a0year = `(${a0year})`;
	}

	if (a0cat) {
		a0label += ":";
	}

	////////////////////////////////////////////////////////////////

	let output = "";
	output += "<tr>";

	output += "<td>";
	output += `<span class="workid" title="${composer}">${workid}`;
	output += `</span>`;
	output += "</td>";

	output += "<td class='workinfo'>";

	output += `<span class="worktitle">${title}`;
	if (cyear.match(/\(/)) {
		if (!cyear.match(/; /)) {
			cyear = cyear.replace(/\(/g, "; ").replace(/\)/, " ");
		}
	}
	if (cyear) {
		output += ` (${cyear})`;
	}
	output += `</span>`;

	output += "<br/>";
	if (e.length == 1) {
		output += "<span class='example'>Example:</span> ";
	} else {
		output += "<span class='example'>Examples:</span> ";
	}
	output += elist;

	output += "<ul>\n";
	output += "<li>\n";

	if (a0url && !a0title) {
		output += `<a target="_blank" href="${a0url}">`;
		if (a0url.match(/naxos/)) {
			output += "Naxos link";
		} else {
			output += `${a0url}`;
		}
		output += `</a>`;
	} else if (a0title) {
		if (a0url) {
			output += `<a target="_blank" href="${a0url}">`;
		}
		output += `${a0title}`;
		if (a0url) {
			output += `</a>`;
		}
		output += `, ${a0label} <span class="catnum">${a0cat}<span> ${a0year}`;
	}

	output += "</li>\n";
	output += "</ul>\n";
	output += "</td>\n";

	output += "</tr>\n";
	return output;
}


</script>




