
#content {
}

a.person {
	color: #8c1515;
}

.play {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp4.svg) no-repeat 0 0;
	width: 56px;
	height: 27px;
	margin-left: 15px;
	position: relative;
	top: 3px;
}


.pause {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp4-pause.svg) no-repeat 0 0;
	width: 56px;
	height: 27px;
	margin-left: 15px;
	position: relative;
	top: 3px;
}



.play-big {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp4.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 15px;
	position: relative;
	top: 3px;
}


.pause-big {
	display: inline-block;
	text-indent: -19999px;
	background: url(../images/mp4-pause.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 15px;
	position: relative;
	top: 3px;
}

div#stats {
	float: right;
	color: #aa8888;
	margin-top: -10px;
	padding-right: 10px;
	text-align: right;
	padding-bottom: 0;
	margin-bottom: -25px;
	line-height: 145%;
}

h1 {
	font-size: 40px;
	font-weight: 500;
	color: #8c1515;
}

h2 {
	margin-top: 20px;
	font-size: 30px;

}

td {
	vertical-align: baseline;
	padding-right: 10px;
}

th {
	color: #820000;
	cursor: pointer;
}

tr:hover {
	background: #f3f3f3;
}

.vhv-button > a, a {
	text-decoration: none;
}

a.searchworks:hover, a.purl:hover {
	text-decoration: underline;
}


.vhv-button.group1{
	background: #f2c82c;
	border-radius: 2rem;
	font-family: Arial;
	color: #fafafa;
	font-size: 1.5rem;
	padding: 8px;
	text-decoration: none;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}

.vhv-button.group2 {
	background: limegreen;
	border-radius: 2rem;
	font-family: Arial;
	color: #fafafa;
	font-size: 1.5rem;
	padding: 8px;
	text-decoration: none;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}

.vhv-button.group3 {
	background: dodgerblue;
	border-radius: 2rem;
	font-family: Arial;
	color: #fafafa;
	font-size: 1.5rem;
	padding: 8px;
	text-decoration: none;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
}

.vhv-button.group1:hover {
	background: #d2980c;
	color: black !important;
	text-decoration: none !important;
}

.vhv-button.group2:hover {
	background: green;
	text-decoration: none !important;
}

.vhv-button.group3:hover {
	background: indigo;
	text-decoration: none !important;
}

.vhv-button.highlight-button.group2 {
	background: crimson !important;
}

.vhv-button.highlight-button.group1,
.vhv-button.highlight-button.group3 {

}



